@tailwind base;
@tailwind components;
@tailwind utilities;




@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');



body{
  padding: 0;
  margin: 0;
  min-height: 100vh;
  position: relative;
}


header {
  font-size: 1.8rem;
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 100%;
  padding: 0 20px 0 20px;
  height: 0;
  top: 20px;
  z-index: 100;
}

header a {
  color: white;
  text-decoration: none;
}

.thelogo{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 7px;
  color: blue

}

.links, a{
  padding: 0 30px 0 30px;
}

.signupbutton {
  color: rgb(36, 10, 10);
  border: 2px solid white;
  padding: 1px 40px 1px 40px;
  font-size: 1.5rem
}

.hero {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.herocontent {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 110;
  top: 80px;
  left: 150px;
  font-family: Helvetica, sans-serif;
  letter-spacing: -2px;
}

.herobutton {
  background-color: #0E4065;
  width: 37%;
  padding: 7px 0 7px 0;
  color: white;
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.herotext1, .herotext2 {
  font-size: 2.6rem;
  width: 80%;
}

.herotext1{
  color: #0E4065
}

.herotext2{
  color: white
}

.homeinfo{
  display: flex;
  position: relative;
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.hometext {
  width: 36%;
  display: flex;
  position: absolute;
  z-index: 10;
  top: 550px;
  left: 140px;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.homep{
  padding-bottom: 20px;
}

.hometext button {
  border: 3px solid #0E4065;
  width: 37%;
  padding: 8px 0 8px 0;
  color: #0E4065;
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: transparent;
}

.signupbutton, .loginbutton {
  margin: 0 8px 0 8px;
  color: white
  
}

.blogtextarea{
  display: flex;
  position: absolute;
  padding: 400px
  
}

.loginform {
  
display: flex;
position: absolute;
top: 100px
}

.otherfrom{
  position: absolute;
  bottom: -300px
  }


  .App{
    width: 100%;
    justify-content: center;
    display: flex;
  }

.homeinfo {
  width: 100vmax;
  z-index: -1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%
}

.guydiary {
  display: flex;
  position: absolute;
  width: 40%;
  top: 1000px;
  left: 120px
}

.breezedescription h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

.breezedescription {
position: absolute;
top: 840px;
text-align: center;
margin: 0 275px 0 275px;
font-size: 1.6rem;
left: 120px
}

.homesub {
  position: absolute;
  left: 500px;
  width: 50%;
  padding: 110px 0 80px 0;
  top: 50px;
  font-size: 20px
}

.homesub h3{
  padding-top: 20px
}

li {
  list-style-type: none;
}

.profilecontainer {
  display: flex;
  position: absolute;
  top: 300px;
  justify-content: center;
}


.diarysubmit {
  background-color: rgb(118, 118, 202);
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.yourposts {
  position: absolute;
  align-items: center;
}

.center {
position: absolute;
top: 35%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.diarycontainer {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: column;
}

.diario {
  display: block;
  margin: 0 20% 0 20%

}


.emoji {
  font-size: 30px;
  position: relative;
  cursor: pointer;
  margin-left: 10px;
}

.emoji > span {
  padding: 10px;
  border: 1px solid transparent;
  transition: 100ms linear;
}

.emoji > span:hover {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 7px 14px 0 rgb(0 0 0 / 12%);
}

#emoji-picker {
  padding: 6px;
  font-size: 20px;
  z-index: 1;
  position: absolute;
  display: none;
  width: 189px;
  border-radius: 4px;
  top: 53px;
  right: 0;
  background: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: 0 7px 14px 0 rgb(0 0 0 / 12%);
}

.my-emoji {
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  padding-top: 4px;
}

.my-emoji:hover {
  background-color: #e7e7e7;
  border-radius: 4px;
}

.emoji-arrow {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 18px;
  box-sizing: border-box;
  border-color: transparent transparent #fff #fff;
  border-style: solid;
  border-width: 4px;
  transform-origin: 0 0 0;
  transform: rotate(135deg);
}

#text-area {
  font-family: sans-serif, monospace;
  font-size: 20px;
  min-height: 70px;
  min-width: 500px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #c1c1c1;
}



.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 300px;
  border: 3px solid rgb(4, 32, 39);
}

.eltmarkdown {
  margin: 41px
}

.yourpostscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedicon {
  width: 50px;
  display: flex;
  position: absolute;
  left: 300px;
}



footer {
  background: rgb(102,148,229);
  background: linear-gradient(40deg, rgba(102,148,229,1) 0%, rgba(172,197,251,1) 100%);
  bottom:0;
  width:100%;
  color: white;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}


.allthecomments {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.register-container, .login-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}


form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .pronouns-details .pronouns-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }




  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

.profilecardcontainer {
  display: flex;
  position: absolute;
  bottom: 100px;
  left: 50px;
  background-color: rgba(18, 161, 119, 0.342);
}


.profilecard {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.profilecard .profiletext{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilecard .profiletext img{
    height: 170px;
    border-radius: 50%;
   margin-bottom:10px;
}

.profilecard .profiletext h3{
    font-size: 40px;
    font-weight: 400;
}

.profilecard .profiletext p:nth-of-type(1){
    color: rgb(4, 32, 39);
    font-size: 15px;
    margin-top: -5px;
}

.profilecard .profiletext p:nth-of-type(2){
    margin: 10px;
    width: 90%;
    text-align: center;
}

.profilecard .links{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.profilecard .links i{
    color: rgb(35, 182, 219);
    font-size: 20px;
    cursor: pointer;
}

.profilecard .links i:hover{
    color:rgb(29, 157, 189) ;
}



.profilecardcontainer2 {
  display: flex;
  position: absolute;
  bottom: 100px;
  left: 50px;
  background-color: rgba(18, 161, 119, 0.342);
}


.profilecardcontainer2{
  display: flex;
  position: absolute;
  bottom: 100px;
  left: 600px;
  width: 50%
}

.profilecard2 .profiletext2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilecard2 .profiletext2 h3{
    font-size: 40px;
    font-weight: 400;
}

.profilecard2 .profiletext2 p:nth-of-type(1){
    color: rgb(4, 32, 39);
    font-size: 15px;
    margin-top: -5px;
}

.profilecard .profiletext2 p:nth-of-type(2){
    margin: 10px;
    width: 90%;
    text-align: center;
}


.markdowns {
  border: 1px rgb(4, 32, 39) solid;
  padding: 30px;
  width: 80%;
  border-radius: 10px;
  margin: 30px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.markdowns button{
  margin: 0 30px 0 30px
}

.quotecontainer {
  display: flex;
}

.quotediary {
  color: white;
  display: flex;
  position: absolute;
  font-size: 2rem;
  top: 180px;
  width: 75%;
  padding: 40px
}

.aboutcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutcontainer p{
  display: flex;
  position: absolute;
  color:white;
  top: 150px;
  font-size: 3rem;
}



/*
@media all and (max-width: 1510px){

  header {
    font-size: 1rem
  }

  .thelogo {
    font-size: 1.2rem;
  }


  .links, a{
    padding: 0 20px 0 20px;
  }
  
  .signupbutton {
    color: white;
    border: 2px solid white;
    padding: 1px 40px 1px 40px;
    font-size: 1.2rem
  }

}

@media all and (max-width: 1510px){

.herotext1, .herotext2{
  font-size: 2rem;
  width: 100%;
}

.herobutton {
  font-size: 1.4rem;
}

}

@media all and (max-width: 1450px){

  .hometext {
    bottom: 100px;
  }

}

@media all and (max-width: 768px){

  header {
    font-size: 0.7rem
  }


  .links, a{
    padding: 0 10px 0 10px;
  }
  
  .signupbutton {
    color: white;
    border: 2px solid white;
    padding: 1px 40px 1px 40px;
    font-size: 0.8rem
  }

}*/